<!DOCTYPE html>
<html lang="en">
  <title>About</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
       body {
            background-color: rgb(248, 246, 246);
            color: #333;
            font: 1.5em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
            padding: 0;
            margin: 0;
            
        }

        .main-nav {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            outline: thick double #0a0a0a;
        }

        .main-nav a {
            padding: .5em 1em;
            display: block;
            

        }

        .push {
            margin-left: auto;
        }
  
        .bolded { font-weight: bold; }
  </style>
 <body class="w3-light-grey">
  <nav >
    <ul class="main-nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a class="active" href="/about">About</a></li> 
        <li class="push"><a href="/author">Author</a></li>
    </ul>
  </nav>
  <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

   <!-- The Grid -->
   <div class="w3-row-padding">
    <div class="w3-white w3-text-grey w3-card-4 w3-center">
        <div class="w3-white w3-text-grey w3-card-4 w3-center">
            <h1>About</h1>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
                    
                </div>
            </div>
            <div class="w3-container">
                <p><strong>
                    Reading medical paper can be extremely time consuming and takes a lot 
                    of effort. Regular people and even Researchers find it quite challenging 
                    to understand the terminology used in research medical papers or even skim 
                    through it with decent understanding. This dilemma motivate SkimPaper project 
                    to help translate complex text to more readable word by summarizing a challenging 
                    to read medical paper to more simpler text. Also, the project tend to categorize the
                    original text to  <p style="color:black;"><span class="bolded">Background, Objectives, Methods, Results, and conclusions.</span></p>
                    This will make absorbing any medical record or research paper more faster and efficient. 

                </strong></p>
            </div>
            <p></p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
                    
                </div>
            </div>
            <p></p>
            <h1>How it is Used</h1>
            <p>
                In the example below, I found this article <a href="https://www.nejm.org/doi/full/10.1056/nejm199001043220102">Leukemia Following Hodgkin's Disease</a>. I copied the abstract section in the 
                empty box. The NLP algorithm classify the content as shown below. 
              
            </p>
            <img src = "https://i.ibb.co/CH1kwts/textDemo.png" alt = "Test Image" width = "900" height = "700"/>
            <p></p>
            
            <div class="w3-container">
                <p><strong>Project Pipeline</strong></p>
                <img src = "https://i.ibb.co/YyCX5DL/Embedding.png" alt = "Test Image" width = "750" height = "120"/>
            
            </div>
            <p></p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
                    
                </div>
            </div>
            <p></p>
            <div class="w3-container">
                <p><strong>Tensorflow Parameters Summary</strong></p>
                <img src = "https://i.ibb.co/LSNJJrb/Model1-Summery.png" alt = "Test Image" width = "750" height = "720"/>
            
            </div>
            <p></p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
                    
                </div>
            </div>
        </div>
        <p></p>
        <div class="w3-container">
            <p><strong>Code Resources</strong></p>
            <div class="row">
                <i class="fa fa-github "> NLP Code</i>
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

                <div class='footer'>
                <a href="https://github.com/HishamJuneidi/SkimMedText"><i class="fab fa-github" style='font-size:30px'></i></a>
                <br></br>
               
                </div>
                <p></p>
                <i class="fa fa-github "> The Whole Project Code</i>
            </div>
          
        </div>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

        <div class='footer'>
        <a href="https://github.com/HishamJuneidi/SkimMedTxt/tree/master"><i class="fab fa-github" style='font-size:30px'></i></a>
        <br></br>
        <p>Copyright © 2021 - Website Design by Hisham Juneidi</p>
        </div>
        </div>

    </div>
    
    <!-- End Right Column -->
    </div>
    
<!-- End Grid -->
</div>
</html>